/* button ------- start */

.btn {
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 300ms linear,
              transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    background-color: $color-success-light;
    transform: scale(1.02);
    transition: background-color 300ms linear,
                transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &--success {
    background-color: $color-success-dark;
  }
  &--danger {
    background-color: $color-danger;
  }
}

/* button ------- end */
