/* header ------- start */

.header2 {
  position: fixed;
  top: 0px;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: $header-height;
  z-index: 1;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.64,.1,.38,.96);
  &--maximized {
    height: calc(100% + 5px);
  }
  @media screen and (max-width: $xs) and (orientation:landscape) {
    height: $header-height-mobile-landscape;
  }
}
.header2__top {
  width: 100%;
  height: $header-height;
  color: white;
}

.header2__logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header2__title {
  font-size: 1em;
  flex-grow: 1;
  text-transform: uppercase;
}

.header2__menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header2__content {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
}

/* header ------- end */
