/* header ------- start */

.header2 {
  position: fixed;
  top: 0px;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: $header-height;
  color: white;
  z-index: 1;
  @media screen and (max-width: $xs) and (orientation:landscape) {
    height: $header-height-mobile-landscape;
  }
  /* div {
    border: 1px dashed red;
  } */
}

.header2__logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header2__title {
  font-size: 1.5em;
  flex-grow: 1;
}

.header2__menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* header ------- end */
