/* header ------- start */

.header2 {
  position: fixed;
  top: 0px;
  background-color: $color-header-bg;
  width: 100%;
  height: $header-height;
  color: white;
  z-index: 1;
  @media screen and (max-width: $xs) and (orientation:landscape) {
    height: $header-height-mobile-landscape;
  }
}

.header__title {
  font-size: 1.5em;
}

/* header ------- end */
