/* list ------- start */

.list {
  padding: 20px 5px 50px 5px;
  justify-content: center;
}

.list__item {
  width: 100%;
  justify-content: flex-start;
  .icon {
    width: 10%;
  }
  &--thumb {
    @media screen and (min-width: $xs) {
      width: calc(33.33333% - 10px);
      margin: 5px;
    }
    @media screen and (min-width: $xs) and (orientation:landscape) {
      width: calc(20% - 10px);
      margin: 5px;
    }
    @media screen and (min-width: $sm) {
      width: calc(20% - 10px);
      margin: 5px;
    }
    @media screen and (min-width: $md) {
      width: calc(10% - 10px);
      margin: 5px;
    }
    flex-direction: column;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      margin: 5px;
      background-color: $color-white;
      
    }
  }
  .label {
    font-size: 0.7rem;
    text-transform: capitalize;
    margin: 5px;
  }
}

/* list ------- end */
