.login {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $color-content-bg;
  overflow: hidden;
}
.login__form {
  width: calc(100% - 100px);
  display: block;
  padding-top: 100px;
  margin: auto;
}
p {
  text-transform: uppercase;
}