/* animations ------- start */

.animation__spin--loop {
  animation: spin infinite 1s linear;
}
.animation__spin--loop-slow {
  animation: spin infinite 5s linear;
}
.animation__bounce {
  animation: bounce 0.3s ease-out;
}

/* animations ------- end */