$color-white: #ffffff;
$color-grey-light: lightgrey;
$color-grey-dark: darkgrey;
$color-black: #000000;

$color-primary: rgb(137,216,190);
$color-success: rgb(193,219,179);
$color-neutral: rgb(250,237,202);
$color-warning: rgb(242,192,120);
$color-danger: rgb(232,104,60);

$color-success-light: #29ABE2;
$color-success-dark: #0071BC;

$color-text: #29ABE2;
$color-success-dark: #0071BC;

$color-body-bg: $color-neutral;
$color-header-bg: $color-primary;
$color-content-bg: $color-neutral;