$color-white: #ffffff;
$color-grey-light: #cccccc;
$color-black: #000000;

$color-body-bg: $color-white;
$color-header-bg: $color-black;
$color-content-bg: $color-grey-light;

$color-primary: #39B54A;
$color-success-light: #29ABE2;
$color-success-dark: #0071BC;
$color-danger: #D4145A;