/* scrollbars ------- start */

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $color-black-dark;
  border-radius: 0.5em;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* scrollbars ------- end */