/* sizes ------- start */

$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$header-height: 50px;
$header-height-mobile-landscape: 40px;

$padding: 5px;
$padding-double: 10px;

/* sizes ------- end */