/* tags ------- start */

body {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $color-neutral;
}

* {
  font-family: 'helvetica', arial;
  outline: none;
  font-weight: normal;
  //border: 1px dashed red!important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
  @media screen and (min-width: 0px) {
    font-size: 1rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 1.5rem;
  }
}

input {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
  background-color: $color-input-background;
  border: none;
  text-align: left;
  width: calc(100% - 40px);
  color: $color-input-text;
  &::placeholder {
    color: $color-input-placeholder;
  }
  @media screen and (min-width: 0px) {
    font-size: 1em;
  }
  @media screen and (min-width: $lg) {
    font-size: 1em;
  }
  &[type=checkbox] {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  color: $color-white;
  border: none;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
  @media screen and (min-width: 0px) {
    font-size: 1em;
  }
  @media screen and (min-width: $lg) {
    font-size: 1em;
  }
}

a {
  text-decoration: underline;
  text-transform: uppercase;
  color: $color-primary;
  font-weight: bold;
  cursor: pointer;
}

p {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.8em;
  color: $color-black-dark;
}

/* tags ------- end */