/* tags ------- start */

p {
  @media screen and (min-width: 0px) {
    font-size: 1rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 1.5rem;
  }
}

input {
  border-radius: 20px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  width: calc(100% - 20px);
  text-align: center;
  &::placeholder {
    color: grey;
  }
  @media screen and (min-width: 0px) {
    font-size: 20px;
  }
  @media screen and (min-width: $lg) {
    font-size: 30px;
  }
}

button {
  border-radius: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  margin: 10px;
  width: calc(100% - 20px);
  @media screen and (min-width: 0px) {
    font-size: 20px;
  }
  @media screen and (min-width: $lg) {
    font-size: 30px;
  }
}

/* tags ------- end */