/* tags ------- start */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
  font-weight: normal;
  //border: 1px dashed red!important;
}

p {
  @media screen and (min-width: 0px) {
    font-size: 1rem;
  }
  @media screen and (min-width: $lg) {
    font-size: 1.5rem;
  }
}

input {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  border: none;
  width: calc(100% - 40px);
  text-align: center;
  &::placeholder {
    color: $color-grey-dark;
  }
  @media screen and (min-width: 0px) {
    font-size: 20px;
  }
  @media screen and (min-width: $lg) {
    font-size: 30px;
  }
}

button {
  border-radius: 20px;
  padding: 10px;
  color: $color-white;
  border: none;
  margin: 10px;
  width: calc(100% - 20px);
  @media screen and (min-width: 0px) {
    font-size: 20px;
  }
  @media screen and (min-width: $lg) {
    font-size: 30px;
  }
}

/* tags ------- end */