.flex {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}