/* vars ------- start */
/* vars ------- end */
/* sizes ------- start */
/* sizes ------- end */
/* animations ------- start */
.animation__spin--loop {
  animation: spin infinite 1s linear; }

.animation__spin--loop-slow {
  animation: spin infinite 5s linear; }

.animation__bounce {
  animation: bounce 0.3s ease-out; }

/* animations ------- end */
/* tags ------- start */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px; }

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

@media screen and (min-width: 0px) {
  p {
    font-size: 1rem; } }

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem; } }

input {
  border-radius: 20px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  width: calc(100% - 20px);
  text-align: center; }
  input::placeholder {
    color: grey; }
  @media screen and (min-width: 0px) {
    input {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    input {
      font-size: 30px; } }

button {
  border-radius: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  margin: 10px;
  width: calc(100% - 20px); }
  @media screen and (min-width: 0px) {
    button {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    button {
      font-size: 30px; } }

/* tags ------- end */
/* scrollbars ------- start */
*::-webkit-scrollbar {
  width: 0.5em; }

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 0.5em; }

* {
  -webkit-overflow-scrolling: touch; }

/* scrollbars ------- end */
.flex {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

/* header ------- start */
.header2 {
  position: fixed;
  top: 0px;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  color: white;
  z-index: 1;
  /* div {
    border: 1px dashed red;
  } */ }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .header2 {
      height: 40px; } }

.header2__logo {
  width: 50px;
  height: 50px;
  cursor: pointer; }

.header2__title {
  font-size: 1.5em;
  flex-grow: 1; }

.header2__menu {
  width: 50px;
  height: 50px;
  cursor: pointer; }

/* header ------- end */
/* logo ------- start */
.logo {
  width: 100%;
  height: 100%; }

.logo__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%; }

/* logo ------- end */
/* icon ------- start */
.icon {
  width: 100%;
  height: 100%; }

.icon__image {
  width: 100%;
  height: 100%; }

/* icon ------- end */
/* content ------- start */
.content {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 50px;
  background-color: lightgrey; }
  @media screen and (max-width: 320px) {
    .content {
      padding-top: 50px; } }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .content {
      padding-top: 40px; } }
  .content--scrollable {
    overflow-y: scroll;
    overflow-x: hidden; }

/* content ------- end */
/* list ------- start */
.list {
  padding: 5px;
  justify-content: center; }

.list__item {
  width: 100%;
  justify-content: flex-start; }
  .list__item .icon {
    width: 10%; }
  .list__item--thumb {
    flex-direction: column; }
    @media screen and (min-width: 320px) {
      .list__item--thumb {
        width: calc(33.33333% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 320px) and (orientation: landscape) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 640px) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 768px) {
      .list__item--thumb {
        width: calc(10% - 10px);
        margin: 5px; } }
    .list__item--thumb .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      margin: 5px;
      background-color: #ffffff; }
  .list__item .label {
    font-size: 1rem;
    margin: 5px; }

/* list ------- end */
/* fullscreen ------- start */
.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10; }
  .fullscreen--shownav {
    z-index: 0; }

.fullscreen__text {
  font-size: 1.5em;
  padding: 10px; }

.fullscreen__icon {
  width: 50%; }

/* fullscreen ------- end */
/* button ------- start */
.btn {
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .btn:hover {
    background-color: #29ABE2;
    transform: scale(1.02);
    transition: background-color 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .btn--success {
    background-color: #0071BC; }
  .btn--danger {
    background-color: #D4145A; }

/* button ------- end */
.login {
  border: red 1px solid;
  width: 80%; }

/* spin ------- start */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* spin ------- end */
/* bounce ------- start */
@keyframes bounce {
  0% {
    transform: scale(0.5); }
  30% {
    transform: scale(1.2); }
  70% {
    transform: scale(0.95); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* bounce ------- end */
/* index ------- start */
.app {
  text-align: center; }

/* index ------- end */
