@import "./scss/_index.scss";
/* index ------- start */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  font-size: 10px;
}
* {
  //border: 0.1px dashed rgba(0,0,0,0.1);
}
.app {
  text-align: center;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.header__logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.header__title {
  font-size: 1.5em;
}

.description {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* index ------- end */