/* animations ------- start */
.animation__spin--loop {
  animation: spin infinite 20s linear; }

.animation__bounce {
  animation: bounce 0.5s ease-in-out; }

/* animations ------- end */
.flex {
  display: flex;
  align-content: flex-start; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

/* header ------- start */
.header2 {
  position: fixed;
  top: 0px;
  background-color: #000000;
  width: 100%;
  height: 100px;
  color: white;
  z-index: 1; }

.header__title {
  font-size: 1.5em; }

/* header ------- end */
/* logo ------- start */
.logo {
  width: 80px;
  height: 80px; }

.logo__image {
  width: 100%;
  height: 100%; }

/* logo ------- end */
/* icon ------- start */
.icon {
  width: 100%;
  height: 100%; }

.icon__image {
  width: 100%;
  height: 100%; }

/* icon ------- end */
/* content ------- start */
.content {
  width: 100%;
  position: absolute;
  top: 100px;
  bottom: 0px;
  background-color: #cccccc;
  -webkit-overflow-scrolling: touch; }
  .content--scrollable {
    overflow: auto; }

/* content ------- end */
/* list ------- start */
.list__item {
  width: 100%;
  height: 100px;
  justify-content: flex-start; }
  .list__item .icon {
    width: 10%; }
  .list__item--thumb {
    width: 33%;
    height: 200px;
    flex-direction: column; }
    .list__item--thumb .icon {
      width: 100%; }

/* list ------- end */
/* spin ------- start */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* spin ------- end */
/* bounce ------- start */
@keyframes bounce {
  0% {
    transform: scale(0.9); }
  60% {
    transform: scale(1.2); }
  80% {
    transform: scale(0.95); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* bounce ------- end */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden; }

* {
  border: 0.1px dashed rgba(0, 0, 0, 0.1); }
