/* sizes ------- start */
/* sizes ------- end */
/* animations ------- start */
.animation__spin--loop {
  animation: spin infinite 1s linear; }

.animation__spin--loop-slow {
  animation: spin infinite 5s linear; }

.animation__bounce {
  animation: bounce 0.5s ease-in-out; }

/* animations ------- end */
/* tags ------- start */
@media screen and (min-width: 0px) {
  p {
    font-size: 20px; } }

@media screen and (min-width: 1024px) {
  p {
    font-size: 30px; } }

input {
  border-radius: 20px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  width: calc(100% - 20px);
  text-align: center; }
  input::placeholder {
    color: grey; }
  @media screen and (min-width: 0px) {
    input {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    input {
      font-size: 30px; } }

button {
  border-radius: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  margin: 10px;
  width: calc(100% - 20px); }
  @media screen and (min-width: 0px) {
    button {
      font-size: 20px; } }
  @media screen and (min-width: 1024px) {
    button {
      font-size: 30px; } }

/* tags ------- end */
.flex {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

/* header ------- start */
.header2 {
  position: fixed;
  top: 0px;
  background-color: #000000;
  width: 100%;
  height: 50px;
  color: white;
  z-index: 1; }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .header2 {
      height: 40px; } }

.header__title {
  font-size: 1.5em; }

/* header ------- end */
/* logo ------- start */
.logo {
  width: 50px;
  height: 100%; }

.logo__image {
  width: 100%;
  height: 100%; }

/* logo ------- end */
/* icon ------- start */
.icon {
  width: 100%;
  height: 100%; }

.icon__image {
  width: 100%;
  height: 100%; }

/* icon ------- end */
/* content ------- start */
.content {
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 0px;
  background-color: #cccccc;
  -webkit-overflow-scrolling: touch; }
  @media screen and (max-width: 320px) {
    .content {
      top: 50px; } }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .content {
      top: 40px; } }
  .content--scrollable {
    overflow: auto; }

/* content ------- end */
/* list ------- start */
.list {
  padding: 5px;
  justify-content: center; }

.list__item {
  width: 100%;
  height: 150px;
  justify-content: flex-start; }
  .list__item .icon {
    width: 10%; }
  .list__item--thumb {
    flex-direction: column; }
    @media screen and (min-width: 320px) {
      .list__item--thumb {
        width: calc(33.33333% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 320px) and (orientation: landscape) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 640px) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 768px) {
      .list__item--thumb {
        width: calc(10% - 10px);
        margin: 5px; } }
    .list__item--thumb .icon {
      width: calc(100% - 10px);
      margin: 5px; }
  .list__item .label {
    font-size: 1rem; }

/* list ------- end */
/* fullscreen ------- start */
.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10; }
  .fullscreen--shownav {
    z-index: 0; }

.fullscreen__text {
  font-size: 1.5em;
  padding: 10px; }

.fullscreen__icon {
  width: 50%; }

/* fullscreen ------- end */
.login {
  border: red 1px solid;
  width: 80%; }

/* spin ------- start */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* spin ------- end */
/* bounce ------- start */
@keyframes bounce {
  0% {
    transform: scale(0.9); }
  60% {
    transform: scale(1.2); }
  80% {
    transform: scale(0.95); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* bounce ------- end */
/* index ------- start */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  font-size: 10px; }

.app {
  text-align: center; }

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.header__logo {
  animation: spin infinite 20s linear;
  height: 80px; }

.header__title {
  font-size: 1.5em; }

.description {
  font-size: large; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* index ------- end */
