/* vars ------- start */
/* vars ------- end */
/* sizes ------- start */
/* sizes ------- end */
/* brand identity */
/* buttons */
/* body */
/* header */
/* animations ------- start */
.animation__spin--loop {
  animation: spin infinite 1s linear; }

.animation__spin--loop-slow {
  animation: spin infinite 5s linear; }

.animation__bounce {
  animation: bounce 0.3s ease-out; }

/* animations ------- end */
/* tags ------- start */
body {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 14px; }

* {
  font-family: 'helvetica', arial;
  outline: none;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@media screen and (min-width: 0px) {
  p {
    font-size: 1rem; } }

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.5rem; } }

input {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: left;
  width: calc(100% - 40px);
  color: rgba(0, 0, 0, 0.4); }
  input::placeholder {
    color: rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 0px) {
    input {
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    input {
      font-size: 1em; } }
  input[type=checkbox] {
    width: 10px;
    height: 10px;
    cursor: pointer; }

button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: none;
  margin: 10px 0 10px 0;
  text-transform: uppercase; }
  @media screen and (min-width: 0px) {
    button {
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    button {
      font-size: 1em; } }

a {
  text-decoration: underline;
  text-transform: uppercase;
  color: #89d8be;
  font-weight: bold;
  cursor: pointer; }

p {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.8em;
  color: rgba(0, 0, 0, 0.5); }

/* tags ------- end */
/* text ------- start */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

/* text ------- end */
/* scrollbars ------- start */
*::-webkit-scrollbar {
  width: 0.5em; }

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em; }

* {
  -webkit-overflow-scrolling: touch; }

/* scrollbars ------- end */
.flex {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-start {
  justify-content: flex-start;
  align-items: flex-start; }

.flex-wrap {
  flex-wrap: wrap; }

/* header ------- start */
.header2 {
  position: fixed;
  top: 0px;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  z-index: 1;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.64, 0.1, 0.38, 0.96); }
  .header2--maximized {
    height: calc(100% + 5px); }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .header2 {
      height: 40px; } }

.header2__top {
  width: 100%;
  height: 50px;
  color: white; }

.header2__logo {
  width: 50px;
  height: 50px;
  cursor: pointer; }

.header2__title {
  font-size: 1em;
  flex-grow: 1;
  text-transform: uppercase; }

.header2__menu {
  width: 50px;
  height: 50px;
  cursor: pointer; }

.header2__content {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%; }

/* header ------- end */
/* logo ------- start */
.logo {
  width: 100%;
  height: 100%; }

.logo__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px; }

/* logo ------- end */
/* menu ------- start */
.menu {
  width: 100%;
  height: 100%; }

.menu__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px; }

/* menu ------- end */
/* icon ------- start */
.icon {
  width: 100%;
  height: 100%; }

.icon__image {
  width: 100%;
  height: 100%; }

/* icon ------- end */
/* content ------- start */
.content {
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-top: 50px;
  background-color: #faedca; }
  @media screen and (max-width: 320px) {
    .content {
      padding-top: 50px; } }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .content {
      padding-top: 40px; } }
  .content--scrollable {
    overflow-y: scroll;
    overflow-x: hidden; }

/* content ------- end */
/* list ------- start */
.list {
  padding: 5px;
  justify-content: center; }

.list__item {
  width: 100%;
  justify-content: flex-start; }
  .list__item .icon {
    width: 10%; }
  .list__item--thumb {
    flex-direction: column; }
    @media screen and (min-width: 320px) {
      .list__item--thumb {
        width: calc(33.33333% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 320px) and (orientation: landscape) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 640px) {
      .list__item--thumb {
        width: calc(20% - 10px);
        margin: 5px; } }
    @media screen and (min-width: 768px) {
      .list__item--thumb {
        width: calc(10% - 10px);
        margin: 5px; } }
    .list__item--thumb .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      margin: 5px;
      background-color: white; }
  .list__item .label {
    font-size: 0.7rem;
    text-transform: capitalize;
    margin: 5px; }

/* list ------- end */
/* fullscreen ------- start */
.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10; }
  .fullscreen--shownav {
    z-index: 0; }

.fullscreen__text {
  font-size: 1.5em;
  padding: 10px; }

.fullscreen__icon {
  width: 50%; }

/* fullscreen ------- end */
/* button ------- start */
.btn {
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: background-color 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .btn:hover {
    background-color: #89d8be;
    transform: scale(1.02);
    transition: background-color 300ms linear, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .btn--primary {
    background-color: #89d8be; }
  .btn--danger {
    background-color: #e8683c; }

/* button ------- end */
.login {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #faedca;
  overflow: hidden; }

.login__form {
  width: calc(100% - 100px);
  display: block; }

p {
  text-transform: uppercase; }

.registration {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #faedca;
  overflow: hidden; }

.registration__form {
  width: calc(100% - 100px);
  display: block; }

.registration__accept {
  display: flex; }

.registration__accept-checkbox {
  width: 10%; }

.registration__accept-text {
  width: 90%; }

p {
  text-transform: uppercase; }

/* spin ------- start */
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* spin ------- end */
/* bounce ------- start */
@keyframes bounce {
  0% {
    transform: scale(0.5); }
  30% {
    transform: scale(1.2); }
  70% {
    transform: scale(0.95); }
  90% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* bounce ------- end */
/* index ------- start */
.app {
  text-align: center; }

/* index ------- end */
