/* bounce ------- start */

@keyframes bounce {
  0% { transform: scale(0.5); }
  30% { transform: scale(1.2); }
  70% { transform: scale(0.95); }
  90% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* bounce ------- end */