/* bounce ------- start */

@keyframes bounce {
  0% { transform: scale(0.9); }
  60% { transform: scale(1.2); }
  80% { transform: scale(0.95); }
  90% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* bounce ------- end */